In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import split
from pyspark import SparkContext, SparkConf

In [2]:
conf = SparkConf()
sc = SparkContext(conf=conf)

In [3]:
spark = SparkSession \
    .builder \
    .appName("CSV with conditions") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

In [4]:
char = spark.read.text("dataset/character.metadata.tsv")
meta=spark.read.text("dataset/movie.metadata.tsv")
name=spark.read.text("dataset/name.clusters.txt")
plot = spark.read.text("dataset/plot_summaries.txt")
tv = spark.read.text("dataset/tvtropes.clusters.txt")

In [ ]:
sc.setLogLevel("WARN")
#setup the same way you have it
log_txt=sc.textFile("dataset/character.metadata.tsv")
header = log_txt.first()

#filter out the header, make sure the rest looks correct
log_txt = log_txt.filter(lambda line: line != header)

temp_var = log_txt.map(lambda k: k.split("\\t"))

#here's where the changes take place
#this creates a dataframe using whatever pyspark feels like using (I think string is the default). the header.split is providing the names of the columns
log_df=temp_var.toDF(header.split("\\t"))
log_df.show()

In [5]:
char = spark.read.text("dataset/character.metadata.tsv")
char.printSchema()
char.show()
char.selectExpr("split(value, '\t') as columns").show(3, False)

root
 |-- value: string (nullable = true)

+--------------------+
|               value|
+--------------------+
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|3196793\t/m/08yl5...|
|3196793\t/m/08yl5...|
|3196793\t/m/08yl5...|
+--------------------+
only showing top 20 rows

+------------------------------------------------------------------------------------------------------------------------------------------------------+
|columns                                                                                                                                               |
+------------------------------------------------------------------------------------------------------------------------------------------------------+
|[975900, /m/03vyhn, 2001-08-24, Akooshay, 1958-08-26, F, 1.62, , Wanda De Jesus, 42, /m/0bgchxw, /m/0bgcj3x, /m/03wcfv7]                              |
|[975900, /m/03vyhn, 2001-08-24, Lieutenant Melanie Ballard, 1974-08-15, F, 1.78, /m/044038p, Natasha Henstridge, 27, /m/0jys3m, /m/0bgchn4, /m/0346l4]|
|[975900, /m/03vyhn, 2001-08-24, Desolation Williams, 1969-06-15, M, 1.727, /m/0x67, Ice Cube, 32, /m/0jys3g, /m/0bgchn_, /m/01vw26l]                  |
+------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows

In [11]:
char = spark.read.option("header", "true")\
    .option("delimiter", '\t')\
    .option("inferSchema", "false") \
    .text("dataset/character.metadata.tsv")
char.show()

+--------------------+
|               value|
+--------------------+
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|975900\t/m/03vyhn...|
|3196793\t/m/08yl5...|
|3196793\t/m/08yl5...|
|3196793\t/m/08yl5...|
+--------------------+
only showing top 20 rows

In [8]:
split_col = pyspark.sql.functions.split(df2['value'], '\t')
df2 = df2.withColumn('NAME1', split_col.getItem(0))
df2 = df2.withColumn('NAME2', split_col.getItem(1))

df2.show(10,truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------+------+---------+
|value                                                                                                                                               |NAME1 |NAME2    |
+----------------------------------------------------------------------------------------------------------------------------------------------------+------+---------+
|975900\t/m/03vyhn\t2001-08-24\tAkooshay\t1958-08-26\tF\t1.62\t\tWanda De Jesus\t42\t/m/0bgchxw\t/m/0bgcj3x\t/m/03wcfv7                              |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tLieutenant Melanie Ballard\t1974-08-15\tF\t1.78\t/m/044038p\tNatasha Henstridge\t27\t/m/0jys3m\t/m/0bgchn4\t/m/0346l4|975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tDesolation Williams\t1969-06-15\tM\t1.727\t/m/0x67\tIce Cube\t32\t/m/0jys3g\t/m/0bgchn_\t/m/01vw26l                  |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tSgt Jericho Butler\t1967-09-12\tM\t1.75\t\tJason Statham\t33\t/m/02vchl6\t/m/0bgchnq\t/m/034hyc                      |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tBashira Kincaid\t1977-09-25\tF\t1.65\t\tClea DuVall\t23\t/m/02vbb3r\t/m/0bgchp9\t/m/01y9xg                           |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tCommander Helena Braddock\t1949-05-26\tF\t1.727\t/m/0x67\tPam Grier\t52\t/m/02vdcfp\t/m/0bgchnd\t/m/0418ft           |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tWhitlock\t1945-08-02\tF\t1.753\t\tJoanna Cassidy\t56\t/m/02vd6kw\t/m/0bgchmx\t/m/06lj1m                              |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tBig Daddy Mars\t\tM\t\t\tRichard Cetrone\t\t/m/0bgchsy\t/m/0bgcht0\t/m/0bgcht7                                       |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tMichael Descanso\t1971-03-20\tM\t1.892\t\tLiam Waite\t30\t/m/03jqhb0\t/m/0bgchs4\t/m/0ks8b0                          |975900|/m/03vyhn|
|975900\t/m/03vyhn\t2001-08-24\tUno\t\tM\t\t\tDuane Davis\t\t/m/0bgchtj\t/m/0bgchtm\t/m/03nrwdy                                                      |975900|/m/03vyhn|
+----------------------------------------------------------------------------------------------------------------------------------------------------+------+---------+
only showing top 10 rows